@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #023373;
    font-family: 'Open Sans', sans-serif;
}

.main{
   /* background: red;*/
    max-width: 500px;
    height: 100%;
    margin: auto;
}

.areaLogo{
    text-align: center;
    margin-top: 20%;
}

.areaLogo img{
    width: 140px;
    height: 135px;
}

.areaLogo h1{
    margin-top: -5px;
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

.areaLogo p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.areaDosBtn{
   max-width: 400px;
   margin: auto;
   margin-top: 10%;
   padding: 5px;
   /*background: blue;*/
}

.areaDosBtn button{
    width: 300px;
    height: 40px;
    margin: 10px;
    background: #023373;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.5s;
}

.areaDosBtn button:hover{
    background: #ffffff9a;
    color: #023373;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    border: 1px solid #ffffff9a;
}