@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #023373;
    font-family: 'Open Sans', sans-serif;
}

.main{
   /* background: red;*/
    max-width: 500px;
    height: 100%;
    margin: auto;
}

.areaLogo{
    text-align: center;
    margin-top: 20%;
}

.areaLogo img{
    width: 140px;
    height: 135px;
}

.areaLogo h1{
    margin-top: -5px;
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

.areaLogo p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.areaDosBtn{
   max-width: 400px;
   margin: auto;
   margin-top: 10%;
   padding: 5px;
   /*background: blue;*/
}

.areaDosBtn button{
    width: 300px;
    height: 40px;
    margin: 10px;
    background: #023373;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.5s;
}

.areaDosBtn button:hover{
    background: #ffffff9a;
    color: #023373;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    border: 1px solid #ffffff9a;
}

/*======= fomulario cadastro =========*/
.areaLogoform{
    text-align: center;
    margin-top: 10%;
}

.areaLogoform img{
    width: 140px;
    height: 135px;
}

.areaLogoform h1{
    margin-top: -5px;
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

form h4{
    text-align: center;
    color: #023373;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: -5px;
}

form{
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entradaDados{
    padding: 10px;
    width: auto;
    margin: auto;
    /*background: red;*/
}

.entradaDados p{
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    margin-bottom: -3px;
    margin-left: 10px;
    padding: 4px;
}

.entradaDados input{
    border: 1px solid #000000;
    border-radius: 10px;
    width: 98%;
    height: 30px;
    /*margin: 10px;*/
}

.areaDeButoes{
    width: 96%;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    background: #FFFFFF;
}

.areaDeButoes button{
    width: 202px;
    height: 30px;
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
    background: #023373;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #023373;
    transition: all 0.5s;
}

.areaDeButoes button:hover{
    background: #ffffff;
    color: #023373;
    border: 1px solid #023373;
}

/*======= fomulario login =========*/

.entradaDados{
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 50px;
}

.entradaDados h4{
    margin-top: -3px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #023373;
}