@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #023373;
    box-sizing: border-box;
    height: 56px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.header img{
    width: 19px;
    height: 19px;
}

.header a{
    color: #ffffff;
    text-decoration: none;
}

/*===== Menu =====*/
.menu{
    cursor: pointer;
}

#opcsMenu{
    display: none;
    position: absolute;
    background: #023373;
    padding: 10px;
    width: 140px;
    height: 140px;
    right: 0px;
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 5px;
    z-index: 1000;
}

.opcsMenu ul{
    list-style: none;
    color: black;
    padding: 0;
}

.opcsMenu li{
    padding: 5px;
}

.opcsMenu li:hover{
    background: #ffffff2d;
    color: #023373;
    border-radius: 10px;
}

.opcsMenu a{
    color: #ffffff;
    text-decoration: none;
}

#linhaAcima{
    border-top: 1px solid #ffffff;
}

#nav.active #opcsMenu{
    display: block;
}
/*===== Menu =====*/

.capa{
    max-width: 600px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    margin: auto;
    /*margin-top: 80px;*/
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next{
      color: #02337300;
  }
  .swiper-button-prev{
    color: #02337300;
  }

  @media(max-width: 600px){
    #opcsMenu{
        margin-top: 16%;
    }
  }