@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #023373;
    box-sizing: border-box;
    height: 56px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.header img{
    width: 19px;
    height: 19px;
}

.header a{
    color: #ffffff;
    text-decoration: none;
}

/*===== Menu =====*/
.menu{
    cursor: pointer;
}

#opcsMenu{
    display: none;
    position: fixed;
    background: #023373;
    padding: 10px;
    width: 140px;
    height: 140px;
    right: 0px;
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 5px;
    z-index: 1000;
}

.opcsMenu ul{
    list-style: none;
    color: black;
    padding: 0;
}

.opcsMenu li{
    padding: 5px;
}

.opcsMenu li:hover{
    background: #ffffff2d;
    color: #023373;
    border-radius: 10px;
}

.opcsMenu a{
    color: #ffffff;
    text-decoration: none;
}

#linhaAcima{
    border-top: 1px solid #ffffff;
}

#nav.active #opcsMenu{
    display: block;
}
/*===== Menu =====*/

/*===============================================*/

.menubaixo{
    /*background: red;*/
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

.menubaixoDois img{
    width: 30px;
}

.menubaixoDois{
    position: relative;
    background: #023373;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    z-index: 10000;
}

/*========= conteudo =============*/

.capa{
    width: 100%;
    height: 148px;
    background-image: url(../../arquivos/imagens/foto03.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.esfoto{
    width: 110px;
    height: 110px;
    padding: 10px;
    position: relative;
    top: -45px;
}

.ftPerfil{
    width: 100px;
    height: 100px;
    background: darkcyan;
    border-radius: 100%;
}

.presNome{
    /*background: red;*/
    margin-top: -80px;
    padding-left: 15px;
}
.presNome h2{
    font-weight: 600;
    font-size: 32px;
    font-family: 'Open Sans';
}

.descricao{
    padding: 10px;
}

.descricao h3{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans';
}

.descricao p{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans';
}

.trap{
    /*background: red;*/
    display: flex;
}

.trap > div{
    background: #023373;
    flex: 1 0 90px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.trap > div h2{
    font-weight: 700;
    font-size: 32px;
    font-family: 'Open Sans';
    color: #ffffff;
}

.trap > div p{
    font-weight: 900;
    font-size: 15px;
    font-family: 'Open Sans';
    color: #ffffff;
}

.rVideo{
    /*background: black;*/
    max-width: 600px;
    max-height: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

.rVideo2{
    width: 100%;
    aspect-ratio: 16 / 9;
}

#videopubli{
    width: 100%;
    border-radius: 10px;
}

/*====== fotos =======*/

.fotos{
    max-width: 800px;
    margin: auto;
}

.fotosdois{
    padding: 10px;
    background: rebeccapurple;
}


.swiper {
    width: 230px;
    height: 310px;
    position: relative;
    z-index: 2;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }

/*========= Conteudo =============*/

@media(max-width: 600px){
    #opcsMenu{
        margin-top: 16%;
    }
    .menubaixoDois{
        position: relative;
        background: #023373;
        display: flex;
        justify-content: space-around;
        padding: 5px;
        max-width: 800px;
        margin: auto;
       
        margin-right: 10px;
    }
  }
